<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>common static resources</title>
</head>
<link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
<link rel="bookmark" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.3.7/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.3.7/css/bootstrap-theme.css}">
<script type="text/javascript" th:src="@{/jquery-3.5.1.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap-3.3.7/js/bootstrap.js}"></script>
<body>
</body>
</html>