<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<div th:replace="./common"></div>
<body>
<div class="container-fluid">
    <div class="col-xs-12 col-sm-6 col-md-6">
        <img th:src="@{/img/login.png}">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <form>
            <div class="form-group">
                <label for="inputUserName">用户名</label>
                <input type="email" class="form-control" id="inputUserName" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> 请确保您的性别正确
                </label>
            </div>
            <button type="submit" class="btn btn-warning">登录</button>
        </form>
    </div>
</div>
</body>
</html>